<nav class="navbar navbar-light bg-faded" style="background-color: white;">
  <div class="container">
      <a class="navbar-brand" href="#">Theater</a>
      <ul class="nav navbar-nav pull-xs-right container">
        <li class="nav-item">
        <a class="nav-link" href="/">Home</a>
    </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Features</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Pricing</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/about">About</a>
        </li>
      </ul>
      </div>
    </nav>